
.topnav{
    background-color: #333;
    overflow: hidden;
  }
  .topnav a{
    float: left;
    color:#f2f2f2;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 17px;
    transition: all 0.5s;
    
    overflow: hidden;
  }
  .topnav a:hover{
    background-color: #ddd;
    color:rgb(241, 32, 105);
  }
  #f{
    padding-top: 50px;
   
  }
  
  .topnav a.active{
    
   background-image: linear-gradient(to right, #00b09b, #96c93d); 
    color:white;
  }
  .topnav .icon{
    display: none;
  }
  
  @media screen and (max-width:600px) {
    .topnav a:not(:first-child){
        display: none;
    }
    .topnav a.icon{
        float:right;
        display: block;
        
    }
    .spar{
    
        height: 30%;
        width: 100%;
    }
      
  }
  @media screen and (max-width:600px) {
      .topnav.responsive{
          position: relative;
          
         
      }
      .topnav.responsive a.icon{
          position: absolute;
         
         right: 0;
         top:0;
      }
      .topnav.responsive a{
          float:none;
      display: block;
      text-align: left;
      }
    }